@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

:root {
    --textColor: #FFFFFF;
    --font: 'Karla', sans-serif;
}

html {
    margin: 0;
    hight: 100%;
    
    background-image: url('/images/sky.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: var(--font);
    color: var(--textColor);
}

body {
    margin: 0;
    padding: 0;
    height: fit-content;
    min-height: 100%;
}

.description {
    color: var(--textColor);
    text-align: center;
    margin: 27px auto;
    margin-top: 10px;
    width: 90%;
    max-width: 500px;
}

.profilePicture img {
    position: relative;
    width: 130px;
    height: 130px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
}

.userName {
    color: var(--textColor);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
}

.links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}

.link {
    position: relative;
    background-color: transparent;
    color: var(--textColor);
    border: solid var(--textColor) 2px;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px; 
    text-decoration: none;
}

