@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

:root {
    --textColor: white;
    --font: 'Karla', sans-serif;
}

html {
    /*FONT:*/   
    font-family: var(--font);
    color: var(--textColor);
    font-size: 18px; 
    font-weight: 400;

    /*BACKGROUND:*/
    background: url('/images/sky.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

body {
    margin: 10px auto; /*auto - center the linktree*/
}

img {
    width: 130px;
    height: 130px;
    display: block;
    margin: 20px auto;
    border-radius: 50%; /*round image*/
}

#userName {
    font-weight: 700; /*bold*/
}

#description {
    margin: 20px auto;
}

main {
    width: auto;
    max-width: 500px;
    margin: 15px auto;
}

/*LINKS*/
a {
    /*LINKS TEXT*/
    color: var(--textColor);
    text-decoration: none;
    text-align: center;

    /*LINKS BORDER:*/
    border: 2px solid var(--textColor);
    border-radius: 10px;

    display: block; /*each link takes a whole line*/
    margin: 10px;
    padding: 10px; 
}