@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

:root {
    --textColor: #FFFFFF;
    --font: 'Karla', sans-serif;
}

html {
    margin: 0;
    hight: 100%;
    
    background-image: url('/images/sky.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: var(--font);
    color: var(--textColor);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: fit-content;
    min-height: 100%;
}

/*@keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
}*/

.description, .source{
    color: var(--textColor);
    text-align: center;
    margin: 27px auto;
    margin-top: 10px;
    width: 90%;
    max-width: 500px;
}

.source{
    font-size: small;
    margin-top: 50px;
}

.profilePicture, .profilePicture img {
    position: relative;
    width: 130px;
    height: 130px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
    
}

.userName {
    color: var(--textColor);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}

.link {
    position: relative;
    background-color: transparent;
    color: var(--textColor);
    border: solid var(--textColor) 2px;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px; 
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
    .link:hover {
        background-color: var(--textColor);
    }
}

.link:active {
    background-color: var(--textColor);
}
